## Database settings ##
sqluser=
sqlpass=
dbip=127.0.0.1
dbport=3306
blisseydb=blissey
golbatdb=golbat

## fortWatcher
receiver_port=
unfenced_webhook=""

## more
map_name=MyMap
map_url="https://mymap.com"
nominatim_url=""
tileserver_url=""
timing=false				# write timings to timing.log
ignore_existing_portal=true		# ignore reported new portals already in db as stop/gym
