#!/bin/bash

## settings
sqluser=
sqlpass=
dbip=127.0.0.1
dbport=3306
portaldb=

fortwatcher_url="http://127.0.0.1:fortwatcher_receiver_port"
python_interpreter=python3
logfile=intelwatcher.log
portal_cleanup=9999                     # delete portals from db not udated in X days


## functions
if [[ -z $sqlpass ]] ;then
  query(){
  mysql -u$sqluser -h$dbip -P$dbport $portaldb -NB -e "$1;"
  }
else
  query(){
  mysql -u$sqluser -p$sqlpass -h$dbip -P$dbport $portaldb -NB -e "$1;"
  }
fi

## execution

# stderr to logfile
exec 2>> $logfile

# log start
echo "" >> $logfile
echo "[$(date '+%Y%m%d %H:%M:%S')] start ingress scraper" >> $logfile

# clearup old mess
echo "[$(date '+%Y%m%d %H:%M:%S')] delete old portals" >> $logfile
query "delete from ingress_portals where from_unixtime(updated) < now() - interval $portal_cleanup day;"
# copy current to old
echo "[$(date '+%Y%m%d %H:%M:%S')] copy table ingress_portals" >> $logfile
query "truncate table ingress_portals_old; insert ignore into ingress_portals_old select * from ingress_portals;"

# scrape portals
echo "[$(date '+%Y%m%d %H:%M:%S')] scrape portals" >> $logfile
$python_interpreter intel_watcher.py

# process changes
echo "[$(date '+%Y%m%d %H:%M:%S')] sending hooks" >> $logfile
while read -r line ;do
  name=$(echo $line | awk -F 'dkmurrie' '{print $1}' | sed 's/\"/\\\"/g')
  lat=$(echo $line | awk -F 'dkmurrie' '{print $2}')
  lon=$(echo $line | awk -F 'dkmurrie' '{print $3}')
  url=$(echo $line | awk -F 'dkmurrie' '{print $4}')
  id=$(echo $line | awk -F 'dkmurrie' '{print $5}')

# send webhooks
  echo "[$(date '+%Y%m%d %H:%M:%S')] sending hook $id $lat,$lon $name" >> $logfile
  curl -sSk -X POST $fortwatcher_url -H "Accept: application/json" -H "Content-Type: application/json" -d "[{\"type\": \"portal_update\", \"message\": {\"change_type\": \"new\", \"new\":{\"type\":\"portal\", \"id\":\"$id\", \"name\":\"$name\", \"image_url\":\"$url\", \"location\": {\"lat\":$lat, \"lon\":$lon}}}}]"
  sleep 1s
done < <(query "select name,lat,lon,url,external_id from ingress_portals where id not in (select id from ingress_portals_old);" | sed 's/\t/dkmurrie/g')

echo "[$(date '+%Y%m%d %H:%M:%S')] all done!" >> $logfile
